body {
    font: normal 15pt Arial;
    background-color: lightblue;
}

header {
    color: white;
    padding: 10pt;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.60);
}

p#res {
    font: normal 15pt Arial;
}

footer#rodape {
    font: italic bold 15pt Arial;
    text-align: center;
}
